.category-tree-toggle {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left:5px;
  background-image: url('./expand.png');
  transition: all ease 0.3s;
}
.category-tree-toggle-on {
  filter: invert(100%);
  transform: translateY(-8px) rotate(-180deg);
}
