.originImg {
  width: 300px;
  height: 300px;
}
.originArea {
  width: 350px;
  height: 300px;
}
.img-fluid-top {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.img-fluid-bottom {
  max-width: 100%;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.resultImgTop {
  width: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.resultImgBottom {
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.mb-3 {
  width: 300px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Side {
  float: right;
  width: 350px;
  height: 800px;
  overflow: scroll;
}

.btn {
  width: 50px;
  float: left;
}
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.zoom {
  display: flex;
  justify-content: space-around;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* 스크롤이 움직이는 영역  */
  background-color: #f9f9f9;
}
::-webkit-scrollbar-thumb {
  /*  스크롤  */
  background-color: #ddd;
  border-radius: 30px;
}

.form-label {
  width: 300px;
  text-align: center;
}
.howText {
  line-height: 100%;
}

.step1 {
  width: 1000px;
  height: 700px;
}
