.originImg {
  width: 300px;
  height: 300px;
}
.originArea {
  width: 350px;
  height: 300px;
}
.img-fluid-top {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.img-fluid-bottom {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.resultImgTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.resultImgBottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.mb-3 {
  width: 300px;
}

.Side {
  float: right;
  width: 350px;
}

.btn {
  width: 50px;
  float: left;
}

.zoom {
  display: flex;
  justify-content: space-around;
}
