@keyframes minor-category-hover {
  from {
    transform: translateX(0) translateY(0);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translateX(-3px) translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
  }
}

.minor-category-card-disabled {
  width: 140px;
  opacity: 0;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  left: 500px;
  transition-property: left, opacity;
  transition-duration: 0.5s, 0.5s;
}

.minor-category-card-enabled {
  opacity: 1;
  left: 0;
  &:hover {
    transform: translateX(-3px) translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
    animation-name: minor-category-hover;
    animation-duration: 0.3s;
  }
}
